{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
  <h1 class="text-xl my-4">Log In</h1>

  <form class="login" method="POST" action="{% url "account_login" %}">
    {% csrf_token %}
    <div>
      <label for="id_email" class="block mb-1">Email:</label>
      <input class="border mb-2" type="email" name="login" autocomplete="email" required id="id_login">
    </div>

    <div class="mb-4">
      <label for="id_password" class="block mb-1">Password:</label>
      <input class="border mb-2" type="password" name="password" autocomplete="current-password" required id="id_password">
    </div>

    <div class="mb-6">
      <input class="p-2 bg-lime-800 text-white" type="submit" value="Log In">
    </div>

    <div>
      <a class="underline text-lime-900 hover:brightness-150" href="{% url "account_reset_password" %}">Forgot Password?</a>
    </div>
  </form>
{% endblock %}
