{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <div class="max-w-lg mx-auto">
    {% if token_fail %}
      <h1 class="text-xl my-4">Bad Token</h1>
    {% else %}
      <h1 class="text-xl my-4">Change Password</h1>
    {% endif %}

    {% if token_fail %}
      <p>
        The password reset link was invalid, possibly because it has already been used.  Please request a <a class="underline text-lime-900 hover:brightness-150" href="{% url "account_reset_password" %}">new password reset</a>.
      </p>
    {% else %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}

        {% if form.errors %}
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <p class="mb-2 text-red-500 text-md">{{ error }}</p>
            {% endfor %}
          {% endfor %}
        {% endif %}

        <div class="mb-4">
          <label for="id_password1" class="block mb-1">New password:</label>
          <input class="border mb-2" type="password" name="password1" required id="id_password1">
        </div>

        <div class="mb-4">
          <label for="id_password2" class="block mb-1">New password (again):</label>
          <input class="border mb-2" type="password" name="password2" required id="id_password2">
        </div>

        <div class="mb-6">
          <input class="p-2 bg-lime-800 text-white" type="submit" value="Change Password">
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
