{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="max-w-lg mx-auto">
    <h1 class="text-xl my-4">Reset Password</h1>

    <p class="mb-4">
      Forgot your password?
      Enter your email address and we will send a reset link.
    </p>
    <form method="POST" action="{% url "account_reset_password" %}">
      {% csrf_token %}
      <div class="mb-4">
        <label for="id_email" class="block mb-1">Email:</label>
        <input class="border mb-2" type="email" name="email" autocomplete="email" required id="id_email">
      </div>

      <div class="mb-6">
        <input class="p-2 bg-lime-800 text-white" type="submit" value="Reset Password">
      </div>
    </form>
  </div>
{% endblock %}
