ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
ALLOWED_HOSTS=*
DEBUG=on
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_SENDGRID_REPLY_TO=reply-to@fakesendgrid.com
PYTHONUNBUFFERED=1
SECRET_KEY="django-insecure-l@1xnj747ei)9ex(0zkfyy6zv@&*=i$wi9722=ji7)+s^_kuvy"
SENTRY_ENABLED=off
SENTRY_DSN=dsn_example
