repos:
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.19.0
  hooks:
  - id: django-upgrade
    args: [--target-version, "5.0"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.1
  hooks:
    # Run the linter.
    - id: ruff
    # Run the formatter.
    - id: ruff-format
