dj-database-url==2.1.0
dj-stripe==2.8.3
Django==5.0.4
django-allauth==0.54.0
django-anymail[sendgrid]==10.3
django-environ==0.11.2
django-extensions==3.2.3
django-hashid-field==3.4.0
django-simple-history==3.5.0
django-waffle==4.1.0
gunicorn==21.2.0
psycopg[binary]==3.1.18
python-dateutil==2.9.0.post0
sentry-sdk==1.45.0
whitenoise[brotli]==6.6.0
