{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
  <div class="max-w-xl mb-4 mx-auto">
    <h1 class="text-xl my-4">Settings</h1>
    {% if user.account.status == user.account.Status.ACTIVE %}
      <p class="mb-4">
        <a class="underline text-lime-900 hover:brightness-150" id="manage-billing" href="#">Manage Your Billing Information</a>
      at the Stripe customer portal.
      </p>
    {% endif %}
    <p class="mb-8"><a class="underline text-lime-900 hover:brightness-150"
          href="{% url 'export_entries' %}">Export all your journal entries</a>
    </p>
    {% if user.is_authenticated %}
      <p>
        <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="p-2 bg-lime-800 hover:brightness-110 text-white" type="submit">Log Out</button>
        </form>
      </p>
    {% endif %}
  </div>
{% endblock %}
