{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="max-w-xl mb-4 mx-auto">
    <h1 class="text-xl my-4">About</h1>
    <p class="mb-2">
      JourneyInbox is a home for your digital journal.
      This service will email you a daily prompt
      to remind you to write.
      Updating your journal is as easy as responding to the email.
      JourneyInbox will keep track of all of your entries.
    </p>
    <p class="mb-8">
      Your prompt emails will include a random previous entry
      to help you recall your past.
      This is a delightful way to reminisce about your journey through life.
    </p>


    <h2 class="text-lg my-4">Who Makes This?</h2>

    <p class="mb-2">
      JourneyInbox is a hobby project built by me,
      <a href="https://x.com/mblayman" class="underline text-lime-900 hover:brightness-150" target="_blank">Matt Layman</a>.
      I built JourneyInbox for two main reasons.
    </p>
    <p class="mb-2">
      First, the previous online journal that I was using had somem reliability problems,
      and I wanted to ensure that I have a service that I can depend upon.
      If the site is down, there is no one blame but myself!
    </p>
    <p class="mb-2">
      Second,
      I am building JourneyInbox as a live code activity
      on YouTube.
      If you want to see how this product is built from scratch,
      you can check out my
      <a href="https://www.youtube.com/playlist?list=PLFcKEo4b_n1yY-zJPUJ2lEXZO3UUbPc6l" class="underline text-lime-900 hover:brightness-150" target="_blank">playlist on YouTube</a>.
    </p>

  </div>
{% endblock %}
