{% extends "base.html" %}

{% block title %}Track Your Journey{% endblock %}

{% block content %}
  <div class="max-w-xl mb-6 mx-auto">
    <p class="mb-3">Hello!</p>
    <p class="mb-3">Welcome to JourneyInbox.
      This site was formerly a tool for keeping an online journal
      that worked via email.
      Due to lack of market interest,
      I have removed all the functionality
      and now this site serves my needs exclusively.
    </p>
    <p class="mb-8">Matt Layman,<br>JourneyInbox creator</p>
  </div>
{% endblock %}
