{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="max-w-xl mb-4 mx-auto">
    <p class="mb-2">Hello!</p>
    <p class="mb-2">Welcome to JourneyInbox. I am still working on the user interface,
    but you should be receiving emails if your trial is active.</p>
    <p class="mb-2">Thanks for using JourneyInbox! Please message me on X at <a href="https://x.com/mblayman" class="underline text-lime-900 hover:brightness-150" target="_blank">@mblayman</a> if you have questions.</p>
    <p class="mb-8">Matt Layman,<br>JourneyInbox creator</p>
  </div>
{% endblock %}
