{% extends "base.html" %}

{% block title %}Track Your Journey{% endblock %}

{% block content %}
  <div class="max-w-xl mb-6">
    <p class="mb-3">Hello!</p>
    <p class="mb-3">Welcome to JourneyInbox. JourneyInbox is an online journaling service that works through email. We'll send you a daily prompt directly to your inbox
    and you update your journal by replying. It's that easy!
    </p>
    <p class="mb-3">
      <b>Why is that interesting?</b> 
      Because your daily prompt will include a random previous journal entry
      that can remind you of something you did in your past.
      This id a great way to reflect on how your life changes over time.
    </p>
    <p class="mb-3">I am still working on the user interface,
    but the core functionality of interacting with JourneyInbox via email is already there.
    I am a daily journaler and have been happily using JourneyInbox myself
    for many months now.
    </p>
    <p>Matt Layman,<br>JourneyInbox creator</p>
  </div>
  <a href="{% url "account_signup" %}" class="p-2 bg-lime-800 text-white">Sign Up</a>
{% endblock %}
