{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "site.css" %}">
    <title>{% block title %}{% endblock %} &ndash; JourneyInbox</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="w-full bg-lime-800 text-white">
      <div class="container mx-auto px-2 sm:px-0 flex items-center">
        <a href="{% url "index" %}" class="hover:brightness-110">
          <div class="bg-lime-800 px-2 py-4 text-xl font-black tracking-wider">
            Journey<span class="text-orange-300">Inbox</span>
          </div>
        </a>
        <div class="grow"></div>
        {% if user.is_authenticated %}
          <a href="{% url "settings" %}" class="hover:brightness-110">
            <div class="bg-lime-800 px-2 py-4">
              Settings
            </div>
          </a>
        {% else %}
          <a href="{% url "account_login" %}" class="hover:brightness-110">
            <div class="bg-lime-800 px-2 py-4">
              Log In
            </div>
          </a>
        {% endif %}
      </div>
    </header>
    <main class="container mx-auto pt-12 px-4 sm:px-0 grow">

      {% if messages %}
      <ul class="max-w-xl flex flex-row mx-auto mb-10 w-full">
        {% for message in messages %}
          <li class="bg-yellow-200 border border-yellow-300 text-lime-900 p-4 rounded-lg shadow-sm">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>

    <footer class="w-full mt-8 mx-auto text-center text-sm bg-lime-800 text-white flex flex-col sm:flex-row justify-center">
      <span class="py-3 px-1">&copy; {% now "Y" %} Journey<span class="text-orange-300">Inbox</span></span>
      <a href="{% url "about" %}" class="py-3 px-2 bg-lime-800 hover:brightness-110">About</a>
      <a href="{% url "privacy" %}" class="py-3 px-2 bg-lime-800 hover:brightness-110">Privacy</a>
      <a href="{% url "terms" %}" class="py-3 px-2 bg-lime-800 hover:brightness-110">Terms</a>
      <a href="{% url "faq" %}" class="py-3 px-2 bg-lime-800 hover:brightness-110">FAQ</a>
      {% if user.is_authenticated %}
        <form class="inline py-3 px-2 bg-lime-800 hover:brightness-110" method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button class="" type="submit">Log Out</button>
        </form>
      {% endif %}
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
