{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "site.css" %}">
    <title>{% block title %}{% endblock %} &ndash; JourneyInbox</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="w-full bg-lime-800 text-white">
      <div class="container mx-auto flex items-center">
        <a href="{% url "index" %}" class="hover:brightness-110">
          <div class="bg-lime-800 px-2 py-4 text-xl font-black tracking-wider">
            Journey<span class="text-orange-300">Inbox</span>
          </div>
        </a>
        <div class="grow"></div>
        <a href="{% url "account_login" %}" class="hover:brightness-110">
          <div class="bg-lime-800 px-2 py-4">
            Log In
          </div>
        </a>
      </div>
    </header>
    <main class="container mx-auto pt-12 grow">

      {% if messages %}
      <ul class="flex flex-row mb-10 w-full">
        {% for message in messages %}
          <li class="bg-yellow-200 border border-yellow-300 text-lime-900 p-4 rounded-lg shadow-sm">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>

    <footer class="w-full mt-8 mx-auto text-center text-sm bg-lime-800 text-white flex flex-col sm:flex-row justify-center">
      <span class="py-3 px-1">&copy; {% now "Y" %} Journey<span class="text-orange-300">Inbox</span></span>
      {# <a href="{% url "core:about" %}" class="mx-1 hover:text-gray-900">About</a> #}
      <a href="{% url "privacy" %}" class="py-3 px-1 bg-lime-800 hover:brightness-110">Privacy</a>
      <a href="{% url "terms" %}" class="py-3 px-1 bg-lime-800 hover:brightness-110">Terms</a>
      {% if user.is_authenticated %}
        <form class="inline py-3 px-1 bg-lime-800 hover:brightness-110" method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button class="" type="submit">Log Out</button>
        </form>
      {% endif %}
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
