{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "site.css" %}">
    <title>{% block title %}{% endblock %} &ndash; JourneyInbox</title>
  </head>
  <body>
    <div class="w-full bg-lime-800 text-white">
      <div class="container mx-auto flex items-center">
        <a href="{% url "index" %}" class="hover:brightness-110">
          <div class="bg-lime-800 px-2 py-4 text-xl font-black tracking-wider">
            Journey<span class="text-orange-300">Inbox</span>
          </div>
        </a>
      </div>
    </div>
    <div class="container mx-auto pt-12">
      {% block content %}
      {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
