<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JourneyInbox</title>
</head>
<body>
    <p>Hello!</p>
    <p>Welcome to JourneyInbox.
      This site was formerly a tool for keeping an online journal
      that worked via email.
      Due to lack of market interest,
      I have removed all the functionality
      and now this site serves my needs exclusively.
    </p>
    <p>Matt Layman,<br>JourneyInbox creator</p>
</body>
</html>
